<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <title></title>  <!--[if !mso]><!-- -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">  #outlook a {
    padding: 0;
  }

  .ReadMsgBody {
    width: 100%;
  }

  .ExternalClass {
    width: 100%;
  }

  .ExternalClass * {
    line-height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  table, td {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }

  img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
  }

  p {
    display: block;
    margin: 13px 0;
  }</style><!--[if !mso]><!-->
  <style type="text/css">  @media only screen and (max-width: 480px) {
    @-ms-viewport {
      width: 320px;
    }    @viewport {
      width: 320px;
    }
  }</style><!--<![endif]--><!--[if mso]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml><![endif]--><!--[if lte mso 11]>
  <style type="text/css">  .outlook-group-fix {
    width: 100% !important;
  }</style><![endif]--><!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style
    type="text/css">        @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);    </style>
  <!--<![endif]-->
  <style type="text/css">  @media only screen and (min-width: 480px) {
    .mj-column-per-100 {
      width: 100% !important;
    }
  }</style>
</head>
<body style="background: #FFFFFF;">
<div class="mj-container" style="background-color:#FFFFFF;"><!--[if mso | IE]>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">      <![endif]-->
  <div style="margin:0px auto;max-width:600px;">
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center"
           border="0">
      <tbody>
      <tr>
        <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
          <!--[if mso | IE]>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="vertical-align:top;width:600px;">      <![endif]-->
          <div class="mj-column-per-100 outlook-group-fix"
               style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="vertical-align:top;" width="100%"
                   border="0">
              <tbody>
              <tr>
                <td style="word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;" align="center">
                  <table role="presentation" cellpadding="0" cellspacing="0"
                         style="border-collapse:collapse;border-spacing:0px;" align="center" border="0">
                    <tbody>
                    <tr>
                      <td style="width:132px;"><img alt="" title="" height="auto" src="https://www.realreports.com.au/assets/images/logo_blue.png"
                                                    style="border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;"
                                                    width="132"></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="word-wrap:break-word;font-size:0px;padding:15px 15px 15px 15px;" align="left">
                  <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.5;text-align:left;">
                    <p>Hi {{userFullName}},</p>
                    <p>Thanks for requesting an inspection report for <a href="{{propertyLink}}">{{propertyAddress}}</a>. Unfortunately we didn't have it on file for you but we are getting this going for you ASAP and will be in touch shortly with next steps.</p>
                    <br/>
                    <p>The details you have provided us are as below:</p>
                    <p>Your Name: {{userFullName}}</p>
                    <p>Email: {{userEmail}}</p>
                    <p>Phone number: {{userPhoneNumber}}</p>
                    <p>Property: {{propertyAddress}}</p>
                    <br/>
                    <p>Agent details</p>
                    <p>Name: {{agentName}}</p>
                    <p>Contact: {{agentContact}}</p>
                    <p>Agency title: {{agencyTitle}}</p>
                    <br/>
                    <p>If you have any questions, please don't hesitate to reply to this email.</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size: 14px;padding: 10px; border-top: solid 1px grey;">
                  <div>
                    <img style="height: 42px;width: auto;" src="https://realreports.com.au/assets/images/logo-email.png">
                  </div>
                  <p style="font-weight: 700">Australia's fastest, cheapest and highest quality pre-purchase property inspection reports</p>
                  <div><a href="https://realreports.com.au">https://realreports.com.au</a></div>
                  <div><a href="mailto:hello@realreports.com.au">hello@realreports.com.au</a></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--[if mso | IE]>      </td></tr></table>      <![endif]--></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--[if mso | IE]>      </td></tr></table>      <![endif]--></div>
</body>
</html>
